/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



* {

  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #F4F5F9;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
}
.box {
  border: 2px solid #d6bcfa;
  height: 250px;
  border-radius: 5px;
}
h1,
h2 {
  text-align: center;
}

.header{
  background-color: rgb(64,117,213);
  padding: 32px 0;
}
h1{
  color: white;
  font-size: 44px;
  font-weight: 700;
}
h2{
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0%;
 
}
img{
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
}
a{
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  width: 100%;
  margin: 10px;
}
button{
  width: 90%;
  background-color: grey;
  align-content: center;
  padding: 5px;
  margin-left: 20px;
  margin-top: 30px;
}